In [29]:
import pandas as pd
gun_deaths = pd.read_csv("guns.csv")
gun_deaths.columns

Index(['Unnamed: 0', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race',
       'hispanic', 'place', 'education'],
      dtype='object')

In [31]:
gun_deaths.head()

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,4.0
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,3.0
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,4.0
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,4.0
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,2.0

In [33]:
gun_deaths['race'].value_counts()

White                             66237
Black                             23296
Hispanic                           9022
Asian/Pacific Islander             1326
Native American/Native Alaskan      917
Name: race, dtype: int64

In [35]:
gun_deaths['intent'].value_counts()

Suicide         63175
Homicide        35176
Accidental       1639
Undetermined      807
Name: intent, dtype: int64

In [37]:
homicide = gun_deaths[gun_deaths['intent'] == 'Homicide']
homicide['education'].value_counts()

2.0    15649
1.0    11839
3.0     5640
4.0     1559
5.0      455
Name: education, dtype: int64

In [39]:
# This shows that the higher the education level, the less likely that they died as a result of homicides.

In [41]:
suicide = gun_deaths[gun_deaths['intent'] == 'Suicide']
suicide['education'].value_counts()

2.0    26321
3.0    15533
4.0    11147
1.0     9292
5.0      876
Name: education, dtype: int64

In [43]:
# number of suicides reduced as the level of education increases. this could be explained by the didtribution of the general population according to education level.
#it is likely that number of people reducings the higher the education level.

In [45]:
blacks = gun_deaths[gun_deaths['race'] == 'Black']
blacks['intent'].value_counts()

Homicide        19510
Suicide          3332
Accidental        328
Undetermined      126
Name: intent, dtype: int64

In [47]:
black_homicide = blacks[blacks['intent']== 'Homicide']
black_homicide['education'].value_counts()

2.0    9088
1.0    6767
3.0    3031
4.0     420
5.0     193
Name: education, dtype: int64

In [49]:
police = gun_deaths[gun_deaths['police'] == 1]
police['race'].value_counts()

White                             709
Black                             356
Hispanic                          282
Asian/Pacific Islander             30
Native American/Native Alaskan     25
Name: race, dtype: int64

In [51]:
gun_deaths['place'].value_counts()

Home                       60486
Other specified            13751
Street                     11151
Other unspecified           8867
Trade/service area          3439
School/instiution            671
Farm                         470
Industrial/construction      248
Residential institution      203
Sports                       128
Name: place, dtype: int64

In [53]:
gun_deaths['year'].value_counts()

2013    33636
2014    33599
2012    33563
Name: year, dtype: int64

In [55]:
sex_count =dict(gun_deaths['sex'].value_counts())
print(sex_count)

{'M': 86349, 'F': 14449}

In [57]:
#finding the number of gun deaths per 100000 of the population  

race_count = dict(gun_deaths['race'].value_counts())

mapping ={
    'Asian/Pacific Islander':15834141,
    'Black':40250635,
    'Hispanic':44618105,
    'Native American/Native Alaskan':3739506,
    'White':197318956
}

race_per_hundredk ={}

for key,value in race_count.items():
    race_per_hundredk[key] = (value/mapping[key]) * 100000
print(race_per_hundredk)

{'White': 33.56849303419181, 'Black': 57.8773477735196, 'Hispanic': 20.220491210910907, 'Asian/Pacific Islander': 8.374309664161762, 'Native American/Native Alaskan': 24.521955573811088}

In [59]:
homicide_race_count = gun_deaths[gun_deaths['intent']== 'Homicide']['race'].value_counts()
print(homicide_race_count)

race_homicide_per_hundredk ={}

for key,value in homicide_race_count.items():
    race_homicide_per_hundredk[key] = (value/mapping[key]) * 100000
print(race_homicide_per_hundredk)

Black                             19510
White                              9147
Hispanic                           5634
Asian/Pacific Islander              559
Native American/Native Alaskan      326
Name: race, dtype: int64
{'Black': 48.471284987180944, 'White': 4.6356417981453335, 'Hispanic': 12.627161104219914, 'Asian/Pacific Islander': 3.530346230970155, 'Native American/Native Alaskan': 8.717729026240365}

In [61]:
#This result shows that approx 58 blacks died per 100,000 from gun deaths within the period anlysed.
# This is compared to 34 for whites, 20 for hispanics and 25 for native americans.
# for the period analysed, the homicide death rate is 48 per 100000 for black compared to 5 for whites,12 for hispanics and 9 for Native Americans.

In [63]:
police_race_count = gun_deaths[gun_deaths['police'] == 1]['race'].value_counts()
print(police_race_count)

police_death_count_per_hundk ={}

for key,value in police_race_count.items():
    police_death_count_per_hundk[key] = (value/mapping[key]) *100000
print(police_death_count_per_hundk)

White                             709
Black                             356
Hispanic                          282
Asian/Pacific Islander             30
Native American/Native Alaskan     25
Name: race, dtype: int64
{'White': 0.3593167196769478, 'Black': 0.8844580961269306, 'Hispanic': 0.6320304280067475, 'Asian/Pacific Islander': 0.18946401955117112, 'Native American/Native Alaskan': 0.6685375020122979}

In [65]:
# in the period analysed, there were 0.8 per 100000 police related black deaths, compared to 0.6 for hispanics and 0.4 for whites.

In [67]:
# Gun related suicide age distribution.
print(gun_deaths['intent'].value_counts())
suicides = gun_deaths[gun_deaths['intent']== 'Suicide']
suicide_age = suicides['age']
count_31 = 0
count_45 = 0
count_60 = 0
count_75 = 0
count_90 = 0
for each in suicide_age:
    if each in range(1,31):
        count_31 = count_31 + 1
    elif each in range(31,45):
        count_45 = count_45 + 1
    elif each in range(45,61):
        count_60 = count_60 + 1
    elif each in range(61,76):
        count_75 = count_75 + 1
    else:
        count_90 = count_90 + 1 # This contains NAN values , so please sort out the NAN issues.
print("1-30 years: " + str(count_31))
print("31-44 years: " + str(count_45))
print("45-60 years: " + str(count_60))
print("61-75 years: " + str(count_75))
print("76+ years: " + str(count_90))
#find a way to solve this. remove all Nan values from SUICIDE_age and convert to int. use a dictionary to achieve the name value combination.

Suicide         63175
Homicide        35176
Accidental       1639
Undetermined      807
Name: intent, dtype: int64
1-30 years: 12330
31-44 years: 11973
45-60 years: 19673
61-75 years: 12109
76+ years: 7090

In [75]:
import numpy as np
suicides['age'].value_counts().sort_index()

intervals = pd.interval_range(start = 0, end =110, freq =11)
gr_freq_table_10 = pd.Series([0 for _ in range(10)], index = intervals)

for value in suicides['age']:
    for interval in intervals:
        if value in interval:
            np.warnings.filterwarnings('ignore')
            gr_freq_table_10.loc[interval] += 1
            break
gr_freq_table_10

(0, 11]         19
(11, 22]      5211
(22, 33]      9576
(33, 44]      9497
(44, 55]     13447
(55, 66]     11909
(66, 77]      7501
(77, 88]      5003
(88, 99]      1000
(99, 110]        5
dtype: int64

In [71]:
#Suicide related gun deaths, Gender count
suicides['sex'].value_counts()

M    54486
F     8689
Name: sex, dtype: int64

In [73]:
# The ratio of male to female gun related suicide is approx 6:1 ,which is extremely high.
# Question? : are men more prone to commiting suicides ? or are they more likely to take there life with the aid of a gun, than any other means?